<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>To-DO Now: Profile</title>
	<link rel="stylesheet" href="/css/task.css" />
</head>

<body>
	<header class="outer-header">
		<div><%- include('./partials/header.ejs') %></div>
		<p class="logout"><a href="/auth/signout">Logout</a></p>
	</header>
	<main>
		<h2>Hey,<%= user.username %>!</h2>
		<% if (tasks.length> 0) { %>
			<p>You still have <%= tasks.length %> tasks. Let's go! 🚀</p>
		<% } else { %>
			<p>You have no tasks yet. Go ahead and add some!</p>
		<% } %>

		<form action="/tasks" method="post">
			<!-- <label for="title">Title:</label> -->
			<input type="text" id="title" name="title" value="" placeholder="E.g Play Basketball" required />
			<input class="submit" type="submit" value="Add Task" />
		</form>

		<% if (tasks.length> 0) { %>
			<div class="sort">
				<p>Sort By:</p>
				<a href="/tasks?state=pending">Pending</a>
				<a href="/tasks?state=completed">Completed</a>
			</div>
		<% } %>

		<% if (tasks.length> 0) { %>
			<ul class="all-tasks">
				<% tasks.forEach(task=> { %>
					<li>
						<div>
							<p class="task-title">
								<%= task.title %>
							</p>
							<p class="task-date">
								<%= new Date(task.updatedAt).toDateString() %>
							</p>
						</div>
						<p class="task-state">
							<%= task.state %>
						</p>
						<div class="action-btns">
							<img class="action-btn complete-btn" id=<%=task._id %>
							src="/images/done.png"
							alt="Complete Button"
							/>
							<img class="action-btn delete-btn" id=<%=task._id %>
							src="/images/delete.png"
							alt="Delete Button"
							/>
						</div>
					</li>
				<% }) %>
			</ul>
			<% } %>
	</main>

	<%- include('./partials/footer.ejs') %>

	<script>
		const completeBtns = document.querySelectorAll(".complete-btn");
		const deleteBtns = document.querySelectorAll(".delete-btn");

		completeBtns.forEach(completeBtn => {
			completeBtn.addEventListener("click", (e) => {
				const taskId = e.target.id;

				fetch(`/tasks/${taskId}`, {
					method: "PUT",
					body: JSON.stringify({state: "completed"}),
					headers: {
						"Content-Type": "application/json"
					}
				})
				.then((response) => {
					if (response.ok) {
						console.log("POST request successful");
						window.location.href = "/tasks";					
					} else {
						console.error("POST request failed");
					}
				})
				.catch((error) => {
					console.error("Error:", error);
				});
			});
		})
		
		deleteBtns.forEach(deleteBtn => {
			deleteBtn.addEventListener("click", (e) => {
				const taskId = e.target.id;

				fetch(`/tasks/${taskId}`, {
					method: "PUT",
					body: JSON.stringify({state: "deleted"}),
					headers: {
						"Content-Type": "application/json"
					}
				})
				.then((response) => {
					if (response.ok) {
						console.log("POST request successful");
						window.location.href = "/tasks";					
					} else {
						console.error("POST request failed");
					}
				})
				.catch((error) => {
					console.error("Error:", error);
				});
			});
		})
		
	</script>
</body>

</html>